<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204510750013-4pr49p5o1k37mp2tu77uv2opohadudv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204510750013-4pr49p5o1k37mp2tu77uv2opohadudv6</string>
	<key>API_KEY</key>
	<string>AIzaSyAqMZCbxvdBn-VBCyA2OFylQl9BICJrqXY</string>
	<key>GCM_SENDER_ID</key>
	<string>204510750013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandfriends.app</string>
	<key>PROJECT_ID</key>
	<string>sandfriendsmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>sandfriendsmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204510750013:ios:50d33aefa183aa4672d154</string>
</dict>
</plist>