<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329100803665-n566cd89i1hki8agb7qit1at2odbhgmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329100803665-n566cd89i1hki8agb7qit1at2odbhgmg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329100803665-v86f3e9em0m1m0v76vprmmtor6trr0pq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDT0kQqFx2InNi3bVKsmN0NhkbqyXhFK-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>329100803665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandfriends.app.prod</string>
	<key>PROJECT_ID</key>
	<string>sandfriends-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>sandfriends-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329100803665:ios:da38d869a1e40dd9af4270</string>
</dict>
</plist>