<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619166716922-lqgavqhou4ngl4in1nk54nl09vhcminq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619166716922-lqgavqhou4ngl4in1nk54nl09vhcminq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>619166716922-0qm315q4oia1vniu1lvpdtbc6takkupv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFPRPoANMeMgVGCsHFMau1R-GOuXNiwuY</string>
	<key>GCM_SENDER_ID</key>
	<string>619166716922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandfriends.quadras.dev</string>
	<key>PROJECT_ID</key>
	<string>sandfriends-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>sandfriends-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619166716922:ios:dbf1757f38c59769fe4a43</string>
</dict>
</plist>